span.help-block,
span.help-inline {
    font-size: 80%;
}

th {
    color: #666;
}

.lite-card .answer {
    color: #333;
}

.answer h4 {
    margin: 10px 0 0 0;
}

.answer li {
    margin: 0;
    list-style-type: disc;
}

.answer ul {
    margin: 0;
}

.box {
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 14px;
}

.box-info {
    background-color: #cfeffc;
}

.fte-result {
    font-size: 18px;
    line-height: 1;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

    .fte-result em {
        width: 100%;
        color: rgb(16, 100, 142);
        font-size: 48px;
        display: block;
        clear: both;
        font-style: normal;
        font-weight: inherit;
        padding: 0.25em 0;
    }

.has-error label {
    color: #a94442;
}

.has-feedback .form-control-feedback {
    top: 4px;
}

.help-block-constant {
    color: #737373;
    font-size: 80%;
}

.input-group-btn .btn-primary {
    padding: 10px 12px;
    border: none;
    color: #fff;
    background-color: #0c648c;
}

    .input-group-btn .btn-primary:hover,
    .input-group-btn .btn-primary.active,
    .input-group-btn .btn-primary:focus {
        background-color: #0e70b4;
        color: #fff;
        border: 0;
    }

.modal-body .help-block {
    margin-bottom: 20px;
}

.modal-header {
    padding: 9px 15px;
}

.modal-title {
    line-height: 36px;
}

.popover {
    min-width: 45%;
    max-width: 450px;
}

    .popover li {
        margin-bottom: 0px;
    }

    .popover p {
        margin-bottom: 0;
    }

    .popover ul {
        margin-bottom: 20px;
    }

    .popover.left .arrow:after {
        border-left-color: #063346;
    }

.row label.radio-label {
    width: auto;
}

#employees td {
    vertical-align: middle;
    padding: 4px;
}

    #employees td:first-child {
        text-align: right;
    }

#employees input {
    margin: 0 5px 0 0;
    padding: 2px;
}

#employees td + td + td {
    width: 145px;
}

#employees td:last-child {
    width: 75px;
}

#employees .form-group {
    margin-bottom: 0;
}

#pte {
    cursor: pointer;
}
