

.page-secretary .views-field-title {
font-size: 16px;

}

.page-secretary .date-display-single{

	float:left;
	font-weight: bold;
	margin-right: 5px;

}

.page-secretary .views-field-field-blog-post-author{

	font-style: italic;
	margin-bottom: 10px;


}

.page-secretary .SecretaryVideo{

float:left;
width:304px;

}

.page-secretary  .views-label-field-blog-post-author{
	float: left;
	margin-right: 2px;
	border-left: 1px solid #000;
	padding-left: 5px;



}

.page-secretary  .views-label-field-speech-speaker{
	float: left;
	margin-right: 2px;
	border-left: 1px solid #000;
	padding-left: 5px;



}

.page-secretary .VideoText {

	float:left;
	width:310px;
	margin-left: 20px;
}



.page-secretary  .media, .media-body p{

	margin-top:5px !important;
}

.page-secretary .VideoText  a.view-all, p.view-all{

	/*background: url("images/view-all-arrow.png") no-repeat scroll 105px 5px rgba(0, 0, 0, 0)!important ;
	background: url("images/view-all-arrow.png") no-repeat scroll 105px 5px \0/;*/
	font-weight: bold;
	padding:0px 20px 0px 0px
	
}

.page-secretary .view-sec-latest-blog-post .view-footer .view-all{

	/*background: url("images/view-all-arrow.png") no-repeat scroll 298px 5px rgba(0, 0, 0, 0)!important ;
	background: url("images/view-all-arrow.png") no-repeat scroll 298px 5px \0/;*/
	position: relative;
	float:left;
	width:311px;
	margin-bottom: 15px;
	font-weight: bold;
}

.page-secretary .view-latestspeeches .view-footer .view-all{

	/*background: url("images/view-all-arrow.png") no-repeat scroll 293px 5px rgba(0, 0, 0, 0)!important ;
	background: url("images/view-all-arrow.png") no-repeat scroll 293px 5px \0/;*/
	position: relative;
	float:left;
	width:311px;
	margin-bottom: 15px;
	font-weight: bold;
}


.page-secretary .first {
	padding-top:15px\0/;
}




.page-secretary div .field-content img{

	float:left;
	margin-right: 10px;
	position: relative;
}

.page-secretary .StoryText{

	width:240px;
	float:left;
}



.page-secretary .timeline .stream {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: 304px;
}

 .page-secretary  .views-field-title {
 	margin-bottom: 8px;
 	clear: both;
 	font-size: 20px;
 	font-family: Helvetica, Arial, Sans-serif;
 }


.page-secretary hr {
	clear: both;
	border-bottom: solid 1px #ccc;
}

 .page-secretary .region-sec-videos hr {
 	clear: both;
 	border-bottom: 1px solid #cccccc;
    border-top: 0 none;
 }


.page-secretary .tweets-blog {
    background-color: #f7f7f7;
    border: 1px solid #d2d2d2;
    float: left;
    font-size: 14px;
    height: 305px;
    margin-right: 30px;
    margin-top: 20px;
    width: 300px;
    padding-left: 15px;
    padding-top: 15px;
}

.page-secretary .tweets-blog {
    background-color: #f7f7f7\9 !important;
    border: 1px solid #d2d2d2\9 !important;
    float: left\9 !important;
    font-size: 14px\9 !important;
    height: 305px\9 !important;
    margin-right: 30px\9 !important;
    margin-top: 20px\9 !important;
    width: 300px\9 !important;
    padding-left: 15px\9 !important;
    padding-top: 15px\9 !important;
}



 .page-secretary .views-row  {
 	clear: both;
 	border-bottom: 1px solid #cccccc;
    border-top: 0 none;
    margin-bottom: 15px;
    padding-bottom:15px;
    width: 100%;
    float: left;
 }

 .page-secretary .views-row:nth-child(5) {
border-bottom: 0px solid #cccccc;

 }


.page-secretary div .media {
    overflow: visible !important;
    padding: 0px 0px 0px 0px !important;
}


.file img.file-icon {

	display:none!important;
}


.page-secretary .views-row-last {

	border-bottom: 0px solid #cccccc !important;
}

.page-secretary .views-field-field-speech-speaker {
	margin-bottom: 10px;
}

.page-secretary .views-field-field-speech-date-given .date-display-single {
	float:left;
	display: block;
	/*width: 100%;*/
}


.node-type-speech .field-name-field-speech-location, .field-name-field-speech-delivered-to, .field-name-field-speech-date-given, .field-name-field-speech-speaker {
	font-weight: bold;
}

.speeches-row {
	margin-bottom: 10px;
}

.speeches-row  .views-field-field-speech-date-given{
	font-weight: bold;
}


@media only screen and (max-width: 767px) {

	.page-secretary
	.views-field-title .views-row  p{

		width:100%;
	}

	.page-secretary .addthis {

			width:100% !important;
	}

	.page-secretary .nav {

	width:100% !important;

	}

.page-secretary .views-row {

	width:100%;
	float: left;


}

.page-secretary hr {
	width:100%;
	float: left;
}

.page-secretary .ytp-thumbnail  {
	width: 100% !important;
	float: left;
}

.page-secretary div .media  {
	
	display: block;
	text-align: right;
	padding-right: 20px !important;
	clear:right;
}

.page-secretary  .region-content img {
width:!00%;
float: left;
position: relative;

}

 .page-secretary  .views-field-title {
 		width:100%;
 }


.page-secretary .StoryText{

	width:100%;
	margin-top: 10px;
	float:left;
}

.page-secretary .main-section {
    
    display: block !important;
    width: 100% !important;
}

.page-secretary .top-container {

	 width: 100% !important;
}



.page-secretary .tweets-blog {
  
    width: 100%;
    float: left;
   
}

.page-secretary .tweets-blog {
    
    width: 100%\9 !important;
 


}

.page-secretary .view-sec-latest-blog-post .view-footer .view-all{

	

	width:100%;
	margin-bottom: 15px;
	font-weight: bold;
}

.page-secretary .view-latestspeeches .view-footer .view-all{

	
	
	width:100%;
	margin-bottom: 15px;
	font-weight: bold;
}

.page-secretary .SecretaryVideo{

float:left;
width:100%;

}



}
